@charset "UTF-8";

/* Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #5f2c82;
}

main{
    width: 250px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

form > div{
    padding: 5px;
    margin: 5px;
}

div#email{
    background-color: #5f2c82;
    border-radius: 5px;
}

div#senha{
    background-color: #5f2c82;
    border-radius: 5px;
}

div > img{
    width: 270px;
    height: 200px;
    position: relative;
    top: -10px;
    left: -10px;
    border-radius: 20px 20px 0px 0px;
    background-position: center center;
    background-size: cover;
}

div#esquecisen > a{
    text-decoration: none;
    text-align: center;
    color: #2D6462;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 12px 12px 12px;
    display: block;
    margin: auto;
    margin-right: -7px;
}

div#esquecisen > a:hover{
    background-color: #6CD3CF;
}

input#iemail{
    background-color: #94CFCD;
    border-radius: 5px;
    border: none;
    margin: 5px 0px 5px 0px;
    padding: 10px 52px 10px 0px;
}

input#isen{
    background-color: #94CFCD;
    border-radius: 5px;
    border: none;
    margin: 5px 0px 5px 0px;
    padding: 10px 52px 10px 0px;
}

input#entrar{
    background-color: #53AAA7;
    color: white;
    width: 235px;
    padding: 12px 0px 12px 0px;
    border-radius: 5px;
    border: none;
    display: block;
    margin: auto;
}

input#entrar:hover{
    cursor: pointer;
    background-color: #2D6462;
}

span.material-symbols-outlined{
    color: white;
}

span.material-symbols-outlined#mail{
    color: #2D6462;
}

h1{
    padding: 10px;
    text-align: center;
    font-size: 1.6em;
}

p{
    text-align: justify;
    font-size: 0.8em;
}